{% extends "climb/base_userpage.html" %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  $('.form_date').datetimepicker({
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: 'yyyy/mm/dd'
    });
$('.form_time').datetimepicker({
        
        weekStart: 1,
        todayBtn:  0,
    autoclose: 1,
    todayHighlight: 1,
    startView: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0
    });
});
</script>
{% endblock %}
{% block content %}
<div ng-app="plunker">
<ul class="nav nav-pills">
  	<li><a href="/today">Tasks</a></li>
  	<li class="active"><a href="">Secret</a></li>
</ul>
	<h1>secret</h1>
	<div ng-controller="DatepickerDemoCtrl">
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    </div>
<div class="container">
    <div id='deadline'>
        <div id='choosetime'>
            <span style="disply: block; float: left; font-size: 18px; padding-top: 7px; padding-right: 10px">Deadline: </span>
            <div class="controls input-append date form_date" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" style="float: left;">
                <input size="16" type="text" value="" readonly style="background-color: white; cursor: pointer;" placeholder='date' class="form-control">
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
            <div class="controls input-append date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                <input size="16" type="text" value="" readonly style="background-color: white; cursor: pointer; width: 40px;" placeholder='time' class="form-control">
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
        </div>
    </div>
</div>
    <h4>Popup</h4>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
        </div>
    </div>

    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
</div>
</div>

{% endblock %}